html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#050505;
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    padding:25px 7%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(5,5,5,0.6);
    backdrop-filter:blur(15px);

    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:800;
    letter-spacing:2px;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    color:#d1d5db;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:white;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:0 7%;
}
.hero-content{
    max-width:900px;
    margin:auto;
}

.small-text{
    color:#7c3aed;
    letter-spacing:4px;
    font-size:13px;
    margin-bottom:25px;
}

.hero h1{
    font-size:clamp(48px,8vw,120px);
    line-height:0.95;
    font-weight:900;
}

.hero-description{
    margin-top:30px;

    max-width:600px;

    color:#9ca3af;

    font-size:20px;
    line-height:1.8;
}

/* GENERAL */

section{
    padding:120px 7%;
}

.section-label{
    color:#7c3aed;
    letter-spacing:4px;
    font-size:13px;
    margin-bottom:20px;
}

h2{
    font-size:clamp(35px,6vw,70px);
    line-height:1.1;
    margin-bottom:30px;
}

/* ABOUT */

.about p{
    max-width:850px;
    color:#9ca3af;
    line-height:2;
    font-size:18px;
}

/* SERVICES */

.service-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:50px;
}

.service-card{
    border:1px solid rgba(255,255,255,.08);

    padding:40px;

    background:#0b0b0b;

    transition:.4s;
}

.service-card:hover{
    transform:translateY(-8px);

    border-color:#7c3aed;
}

/* PROJECTS */

.project-card{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:45px 0;

    border-bottom:1px solid rgba(255,255,255,.08);
}

.project-card h3{
    font-size:34px;
    margin-bottom:12px;
}

.project-card p{
    color:#9ca3af;
    max-width:550px;
}

.project-card a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.project-card:hover h3{
    color:#7c3aed;
}

/* SKILLS */

.skills-row{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:40px;
}

.skills-row span{
    padding:15px 25px;

    border:1px solid rgba(255,255,255,.1);

    background:#0b0b0b;
}

/* CONTACT */

.contact{
    text-align:center;
}

.contact p{
    color:#9ca3af;
    margin-top:20px;
    font-size:18px;
}

/* FOOTER */

footer{
    padding:80px 7%;
    border-top:1px solid rgba(255,255,255,.08);
}

footer h3{
    font-size:40px;
    margin-bottom:15px;
}

footer p{
    color:#9ca3af;
}

/* MOBILE */

@media(max-width:768px){

    .nav-links{
        display:none;
    }

    .hero h1{
        font-size:48px;
    }

    .service-grid{
        grid-template-columns:1fr;
    }

    .project-card{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }

    h2{
        font-size:42px;
    }

}
