body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

section {
    text-align: center;
    padding: 120px 20px;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    color: #fbbf24;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    max-width: 600px;
    margin: auto;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background: #fbbf24;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}
section {
    min-height: 60vh;
}

h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
    margin-top: 30px;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #fbbf24;
    color: #111;
    text-decoration: none;
    border-radius: 8px;
}
